<div class="nav-wrapper">
    <nav class="nav-flex navbar navbar-expand-lg navbar-dark fixed-top " id="mainNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <div class="larger-text">BlogMe!</div>
        </a>
        <div class="inline-link-div text-uppercase bolder-text">Create & publish your own blog!</div>

    </nav>
</div>