<div class="landing-background">
    <div id="page-top">

        <!-- Navigation-->
        {{!-- <div class="nav-wrapper">
            <nav class="nav-flex navbar navbar-expand-lg navbar-dark fixed-top " id="mainNav">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">
                    <div class="larger-text">BlogMe!</div>
                </a>
                <div class="inline-link-div text-uppercase bolder-text">Create & publish your own blog!</div>
        </div>
        </nav>
    </div> --}}
    {{> navbar}}
</div>

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <!-- <div class="masthead-subheading">Welcome To BlogMe!</div> -->
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/login">Start Now</a>

    </div>
</header>
</div>
</div>