<div class="container">
    <div class="signup-form">
        <form>
            <h2>Create an Account</h2>
            <p class="hint-text">Sign up with your social media account or email address</p>
            <div class="social-btn text-center">
            </div>
            <br>
            <div class="form-group">
                <input type="text" class="form-control input-lg" name="username" placeholder="Username"
                    required="required">
            </div>
            <div class="form-group">
                <input type="email" id="email-input" class="form-control input-lg" name="email"
                    placeholder="Email Address" required="required">
            </div>
            <div class="form-group">
                <input type="password" id="password-input" class="form-control input-lg" name="password"
                    placeholder="Password" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-lg" name="confirm_password"
                    placeholder="Confirm Password" required="required">
            </div>
            <div class="form-group">
                <input type="text" id="title-input" class="form-control input-lg" name="blog_title"
                    placeholder="Blog Title" required="required">
            </div>
            <br>
            <div class="form-group">
                <button type="submit" id="signup-btn" class="btn btn-success btn-lg btn-block signup-btn">Sign
                    Up</button>
            </div>
        </form>
        <div class="text-center">Already have an account? <a href="/login">Login here</a></div>
    </div>

</div>